.sponsor-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 1rem;
    max-width: 80rem;
    margin: auto;
    padding: 5rem 2rem;
}


@media screen and (min-width:520px) {
    .sponsor-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width:768px) {
    .sponsor-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}


@media screen and (min-width:1024px) {
    .sponsor-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.sponsor-logo {
    width: 11rem;
    height: 8rem;
    border-radius: 5px;
    margin: auto;
    /* background-color: black; */
}