.slider-container {
    position: relative;
}

.slider-item {
    position: relative;
    height: 30rem;
    overflow: hidden;
}

.hero-slider-img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-slider-img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

@keyframes hero-move {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}

.hero-slider-img {
    width: 100%;
    height: 46rem;
    object-fit: cover;
    animation: hero-move 10s linear infinite;

}

.slider-text-container {
    position: absolute;
    top: 0;
}

.slider-title {
    color: var(--white);
    font-size: 2rem;
}


.slider-desc {
    margin-left: auto;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: .62rem;
    color: var(--white);
}


.slider-button {
    position: absolute;
}

.arrow-icon {
    font-size: 2rem;
    cursor: pointer;
    color: var(--white);

}

.right-button {
    right: 4rem;
    bottom: 12rem;
}

.left-button {
    left: 4rem;
    bottom: 12rem;
}


/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
    .slider-item {
        height: 50vh;
        width: 100%;
    }

    .hero-slider-img {
        height: 100%;
    }

    .hero-slider-img-container {
        width: 100%;
    }


    .slider-title {
        font-size: 2rem;
    }

    .slider-desc {
        margin: auto auto .62rem auto;
        font-size: .80rem;
    }

    .right-button {
        right: 2rem;
        bottom: 15rem;
    }

    .left-button {
        left: 2rem;
        bottom: 15rem;
    }
}