.slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.slider-img {
    max-width: 100%;
    max-height: 40rem;
    transition: ease-in .5s;
}


.next-slide,
.prev-slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next-slide:hover,
.prev-slide:hover {
    background-color: rgba(109, 109, 109, 0.8);
}

.next-slide {
    left: 0;
}

.prev-slide {
    right: 0;
}

.slider-img {
    border-radius: 5px;
}

@media only screen and (min-width:800px) {
    .slider-img {
        max-width: 50rem;
    }

    .light .slider-img {
        max-width: 50rem;
    }
}


@media only screen and (min-width:1024px) {
    .slider-img {
        max-width: 65rem;
    }

    .light .slider-img {
        max-width: 65rem;
    }
}


.slider-container {
    position: relative;
    margin: 2rem auto;
    max-width: fit-content;

}


.slider-text {
    position: absolute;
    background-color: var(--black);
}

.slider-header {
    bottom: 3rem;
}

.slider-description {
    bottom: .5rem;
}


@media only screen and (min-width:685px) {
    .slider-description {
        bottom: 2rem;
    }
}


@media only screen and (min-width:685px) {
    .slider-header {
        bottom: 4rem;
    }
}

.dot-container {
    position: relative;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1rem .5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}